@{
    ViewData["Title"] = "Home";
}


<div class="welcome-block">
    <h1>Welcome to Australia's Most Common Banking App</h1>
    <hr class="line">
    <a asp-controller="Login" asp-action="Index" class="login-button">Login</a>
</div>
